@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:wght@800&display=swap');

//color pallete
$backgroundColor: #4A4BC7;
$shadowColor: #FFD23B;
$whiteTheme: #F9F3EF;
$reddish_pink: #FF8F79;
$FirstScheme: #A1AC25;
$SecondScheme: #E34F33;
$ThirdScheme: #94BBD6;

//fonts
$headings: 'Raleway', sans-serif;
$poppins: 'Poppins', sans-serif;

:root{
  font-size: 16px;
}

body{
  padding: 1%;
  font-size: 130%;
  font-family: $poppins;
  display: grid;
  grid-template-rows: 15vh 60vh 28vh;
  background-color: $backgroundColor;
}

header{
  .logo{
    width: 3rem;
    height: 3rem;
    border: 0.2rem solid $shadowColor;
    border-radius: 60%;
  }
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1%;
  border: 0.3rem solid black;
  box-shadow: 0.5rem 0.5rem $shadowColor;
  nav{
    width: 70%;
    ul{
      display: flex;
      justify-content: space-around;
      list-style: none;
      li{
        :hover{
          border-bottom: 0.2rem solid $shadowColor;
          transition: border ease-in-out .1s;
        }
        a{
          font-family: $poppins;
          text-decoration: none;
          color: $shadowColor;
        }
      }
    }
  }
}
.active{
  padding: 10%;
  border: 0.15rem solid $shadowColor;
  border-radius: 20%;
}

section{
  margin: 1%;
  #hero{
    position: absolute;
    left: 45%;
    top: 45%;
    transform: translate(-45%, -45%);
    padding: 10px;
    display: grid;
    grid-template-columns: 20% 60% 20.5%;
    margin-top: 2%;
    width: 90%;
    height: 60%;
    p{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
    span{
      font-size: 125%;
    }
    #name{
      color: $shadowColor;
      font-size: 350%;
      font-family: $headings;
    }
  }
  .context{
    color: $reddish_pink;
    text-align: center;
    box-shadow: 0.5rem 0.5rem $shadowColor;
    border: 0.3rem solid black;
    h2{
      text-decoration: underline;
    }
    ul{
      height: 60%;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

footer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  #footer_nav{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    li{
      .footer_links{
        width: 2.5rem;
        height: 2.5rem;
      }
      a{
        text-decoration: none;
      }
    }
  }
}

#brand{
  font-family: $headings;
  color: black;
}

#themeSelect{
  font-size: 110%;
  background-color: $reddish_pink;
  color: $backgroundColor;
  position: absolute;
  width: 10%;
  bottom: 5.5%;
  right: 4%;
  border: 0.2rem solid black;
  border-radius: 5%;
  padding: 0.5%;
  box-shadow: 0.2rem 0.2rem $shadowColor;
  :hover #menu{
    position: relative;
    opacity: 1;
    visibility: visible;
  }
  :hover #arrow{
    transform:rotate(90deg);
    transition: transform .2s linear;
  }
  #selectedTheme{
    width: 100%;
    cursor: pointer;
    font-family: $headings;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  #menu{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 5%;
    transition: opacity .2s linear, position .2s linear, visibility .2s linear;
    visibility: hidden;
    opacity: 0;
    .menuItem{
      cursor: pointer;
      padding: 1%;
    }
  }
}