@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:wght@800&display=swap");
:root {
  font-size: 16px;
}

body {
  padding: 1%;
  font-size: 130%;
  font-family: "Poppins", sans-serif;
  display: grid;
  grid-template-rows: 15vh 60vh 28vh;
  background-color: #4A4BC7;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1%;
  border: 0.3rem solid black;
  box-shadow: 0.5rem 0.5rem #FFD23B;
}
header .logo {
  width: 3rem;
  height: 3rem;
  border: 0.2rem solid #FFD23B;
  border-radius: 60%;
}
header nav {
  width: 70%;
}
header nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
header nav ul li :hover {
  border-bottom: 0.2rem solid #FFD23B;
  transition: border ease-in-out 0.1s;
}
header nav ul li a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #FFD23B;
}

.active {
  padding: 10%;
  border: 0.15rem solid #FFD23B;
  border-radius: 20%;
}

section {
  margin: 1%;
}
section #hero {
  position: absolute;
  left: 45%;
  top: 45%;
  transform: translate(-45%, -45%);
  padding: 10px;
  display: grid;
  grid-template-columns: 20% 60% 20.5%;
  margin-top: 2%;
  width: 90%;
  height: 60%;
}
section #hero p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
section #hero span {
  font-size: 125%;
}
section #hero #name {
  color: #FFD23B;
  font-size: 350%;
  font-family: "Raleway", sans-serif;
}
section .context {
  color: #FF8F79;
  text-align: center;
  box-shadow: 0.5rem 0.5rem #FFD23B;
  border: 0.3rem solid black;
}
section .context h2 {
  text-decoration: underline;
}
section .context ul {
  height: 60%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: flex-start;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
footer #footer_nav {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}
footer #footer_nav li .footer_links {
  width: 2.5rem;
  height: 2.5rem;
}
footer #footer_nav li a {
  text-decoration: none;
}

#brand {
  font-family: "Raleway", sans-serif;
  color: black;
}

#themeSelect {
  font-size: 110%;
  background-color: #FF8F79;
  color: #4A4BC7;
  position: absolute;
  width: 10%;
  bottom: 5.5%;
  right: 4%;
  border: 0.2rem solid black;
  border-radius: 5%;
  padding: 0.5%;
  box-shadow: 0.2rem 0.2rem #FFD23B;
}
#themeSelect :hover #menu {
  position: relative;
  opacity: 1;
  visibility: visible;
}
#themeSelect :hover #arrow {
  transform: rotate(90deg);
  transition: transform 0.2s linear;
}
#themeSelect #selectedTheme {
  width: 100%;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#themeSelect #menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 5%;
  transition: opacity 0.2s linear, position 0.2s linear, visibility 0.2s linear;
  visibility: hidden;
  opacity: 0;
}
#themeSelect #menu .menuItem {
  cursor: pointer;
  padding: 1%;
}/*# sourceMappingURL=style.css.map */