@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:wght@800&display=swap");
:root {
  font-size: 16px;

  --borderColor: #000000;
  --backgroundColor: #4A4BC7;
  --shadowColor: #FFD23B;
  --contentColor: #FF8F79;
  --firstScheme: "#A1AC25";
  --secondScheme:"#E34F33";
  --thirdScheme:"#94BBD6";

  --headings: 'Raleway', sans-serif;
  --poppins: 'Poppins', sans-serif;
}

body {
  padding: 1%;
  font-size: 130%;
  font-family: "Poppins", sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 15vh 60vh 28vh;
      grid-template-rows: 15vh 60vh 28vh;
  background-color: var(--backgroundColor);
  overflow: hidden;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1%;
  border: 0.3rem solid var(--borderColor);
  -webkit-box-shadow: 0.5rem 0.5rem var(--shadowColor);
          box-shadow: 0.5rem 0.5rem var(--shadowColor);
}

header #brand {
  border-radius: 60%;
  color: var(--borderColor);
}

header nav {
  width: 70%;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

header nav ul li :hover {
  border-bottom: 0.2rem solid var(--shadowColor);
  -webkit-transition: border ease-in-out .1s;
  transition: border ease-in-out .1s;
}

header nav ul li a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: var(--shadowColor);
}

.active {
  padding: 10%;
  border: 0.15rem solid var(--shadowColor);
  border-radius: 20%;
}

section {
  margin: 1%;
}

section #hero {
  position: absolute;
  left: 45%;
  top: 45%;
  -webkit-transform: translate(-45%, -45%);
          transform: translate(-45%, -45%);
  padding: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 60% 20.5%;
      grid-template-columns: 20% 60% 20.5%;
  margin-top: 2%;
  width: 90%;
  height: 60%;
}

section #hero p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section #hero span {
  font-size: 125%;
}

section #hero #name {
  color: var(--shadowColor);
  font-size: 350%;
  font-family: "Raleway", sans-serif;
}

section .context {
  color: var(--contentColor);
  text-align: center;
  -webkit-box-shadow: 0.5rem 0.5rem var(--shadowColor);
          box-shadow: 0.5rem 0.5rem var(--shadowColor);
  border: 0.3rem solid var(--borderColor);
}

section .context h2 {
  text-decoration: underline;
}

section .context ul {
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

footer #footer_nav {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
}

footer #footer_nav li .footer_links {
  width: 2.5rem;
  height: 2.5rem;
}

footer #footer_nav li a {
  text-decoration: none;
}

#brand {
  font-family: "Raleway", sans-serif;
  color: black;
}

#themeSelect {
  font-size: 110%;
  background-color: var(--contentColor);
  color: var(--backgroundColor);
  position: absolute;
  width: 10%;
  bottom: 5.5%;
  right: 4%;
  border: 0.2rem solid var(--borderColor);
  border-radius: 5%;
  padding: 0.5%;
  -webkit-box-shadow: 0.2rem 0.2rem var(--shadowColor);
          box-shadow: 0.2rem 0.2rem var(--shadowColor);
}

#themeSelect:hover #menu {
  position: relative;
  opacity: 1;
  visibility: visible;
}

#themeSelect:hover #arrow {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
}

#themeSelect #selectedTheme {
  width: 100%;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#themeSelect #menu {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 5%;
  -webkit-transition: opacity .2s linear, position .2s linear, visibility .2s linear;
  transition: opacity .2s linear, position .2s linear, visibility .2s linear;
  visibility: hidden;
  opacity: 0;
}

#themeSelect #menu .menuItem {
  cursor: pointer;
  padding: 1%;
}
/*# sourceMappingURL=style.css.map */