@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Song+Myung&display=swap');

:root{
  /* Primary colors */
  --white: #FFFFEB;
  --black: #180023;
  --orange: #E7BA63;
  /*Secondary*/
  --red: #CA3939;
  --accent: #570080;
  --banner: 'Song Myung', serif;
  --poppins: 'Poppins', sans-serif;
}

body{
  padding: 2.5%;
  margin: 0%;
  overflow-x: hidden;
  font-family: var(--poppins);
}

section{
  position: relative;
  height: 85vh;
  margin-bottom: 2.5%;
  background-color: var(--white);
  scroll-snap-align: center;
}

h1{
  font-size: 300%;
}

h2{
  font-size: 200%;
}

#Banner{
  text-align: center;
  font-family: var(--banner);
  color: var(--black);
  overflow: hidden;
}

#Text{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#Graphic1{
  position: absolute;
  top: 25%;
  left: 60%;
  transform: translate(-50%, -50%);
}

#Graphic2{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#Banner div h2{
  font-size: 125%;
}

span{
  color: var(--accent);
}

#Portfolio{
  padding: 2.5%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#Portfolio h2{
  height: 10%;
  margin: 2.5%;
}

.Project{
  padding: 2.5%;
  height: 32vh;
  margin: 2.5%;
  display: grid;
  grid-template-columns: 50% 47.5%;
}

.illustration{
  margin-top: 45%;
}

.description p{
  font-size: 50%;
}

.description h3{
  font-size: 70%;
}

#One{
  background-color: var(--black);
  color: var(--white);
}

#One span{
  color: var(--red);
}

#Two{
  background-color: var(--red);
  color: var(--black);
}

#Two span{
  color: var(--white);
}

#Three{
  background-color: var(--orange);
  color: var(--black);
}

#Three span{
  color: var(--red);
}

#About{
  padding: 2.5%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

#About h2{
  margin-top: 1%;
  height: 5%;
}

#About div{
  font-size: 85%;
  padding: 2.5%;
  text-align: justify;
  text-justify: inter-word;
}

#footerNav {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
}

/*Smooth Scrolling*/
.container{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}